<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Document</title>
</head>
<body>
  <div>
    <h2 class="down">
      {{ data1 }} {{ data2 }} {{ data3 }} {{ data4 }}
    </h2>

    <h2 class="down">{{ result }}</h2>
    {% if result == ['setosa'] %}
      <div class="id" style="text-align: center;">
        <img src="../static/img/setosa.jpg">
      </div>
    {% elif result == ['versicolor'] %}
    <div class="id" style="text-align: center;">
      <img src="../static/img/versicolor.jpg">
    </div>
    {% else %}
    <div class="id" style="text-align: center;">
      <img src="../static/img/virginica.jpg">
    </div>
    {% endif %}
  </div>
</body>
</html>
